<app-header></app-header>
<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img src="{{item.image}}" [ngClass]="'item-img'"></td>
                            <td>{{item.description}} </td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.total}}</td>

                            <td> <button (click)="removeItem(item)" class="btn btn-danger bg-danger">Delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button class="btn btn-danger" (click)="emptycart()">Empty cart </button></td>
                            <td><button class="btn btn-primary" routerLink="/products">Shop more </button></td>
                            <td><button class="btn btn-success" (click)="makePayment(grandTotal)">Checkout </button>
                            </td>
                            <td><strong>Grandtotal: ${{grandTotal}}</strong></td>
                        </tr>

                    </tbody>

                </table>

            </div>
        </div>
    </div>

</ng-container>


<ng-container *ngIf="products.length==0">
    <div class="container text-center">
        <div class="card card2 card-2 align-items-center" [ngStyle]='{"height":"500px"}'>
            <h5 class="card-title">My cart</h5>

            <div class="center">
                <h4>Your cart is empty</h4>
                <img src="../../../assets/images/empty-cart.png">
                <h6>add items now</h6>
                <button routerLink="/products" class="btn btn-primary">
                    Shop now
                </button>
            </div>
        </div>
    </div>
</ng-container>